In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
from pandas import read_excel
import openpyxl

In [12]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.1 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python3.8 -m pip install --upgrade pip

In [16]:
df = pd.read_html("reporte-productos (1).xls")

In [28]:
pd.DataFrame(np.array(df))

ValueError: Must pass 2-d input. shape=(1, 34497, 22)

In [27]:
np.array(df).shape

(1, 34497, 22)

In [31]:
x = np.array(df).reshape(34497, 22)

In [36]:
df_productos = pd.DataFrame(x)
df_productos.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,Factura,Producto,Impuestos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Cantidad,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total
2,2021-10-18 06:12:33 a. m.,Primal Alimentos SAS,Matias,Matias,NaN,General,Rappi,A10012613,"621.200,00",Jugos/ Malteadas y Bebidas,...,1,"6.500,00",000,"6.018,52",000,"6.018,52",I CONSUMO (8%),"6.018,52",48148,"6.500,00"
3,2021-10-18 06:12:33 a. m.,Primal Alimentos SAS,Matias,Matias,NaN,General,Rappi,A10012613,"621.200,00",RAPPI,...,1,"6.000,00",000,"5.555,56",000,"5.555,56",I CONSUMO (8%),"5.555,56",44444,"6.000,00"
4,2021-10-18 06:12:33 a. m.,Primal Alimentos SAS,Matias,Matias,NaN,General,Rappi,A10012613,"621.200,00",Sopas,...,1,"12.000,00",000,"11.111,11",000,"11.111,11",I CONSUMO (8%),"11.111,11",88889,"12.000,00"

In [62]:
def convert_dtype(x):
    if not x:
        return ''
    try:
        return str(x)   
    except:        
        return ''

In [13]:
df_prod = pd.read_csv("reporte_mayo_octubre - reporte-productos (2) (3).csv")
df_prod

/tmp/ipykernel_5424/4182693211.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_prod = pd.read_csv("reporte_mayo_octubre - reporte-productos (2) (3).csv")

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Cantidad,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,1.0,"6.200,00",0,"5.740,74",0,"5.740,74",I CONSUMO (8%),"5.740,74","459,26","6.200,00"
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,1.0,"32.000,00",0,"32.000,00",0,"32.000,00",NaN,0,0,"32.000,00"
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,1.0,"34.000,00",0,"31.481,48",0,"31.481,48",I CONSUMO (8%),"31.481,48","2.518,52","34.000,00"
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,1.0,"5.000,00",0,"5.000,00",0,"5.000,00",NaN,0,0,"5.000,00"
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,1.0,"16.000,00",0,"14.814,81",0,"14.814,81",I CONSUMO (8%),"14.814,81","1.185,19","16.000,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38531,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,1.0,"1.000,00",0,"1.000,00","0,00","1.000,00",NaN,"0,00","0,00","1.000,00"
38532,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,1.0,"7.500,00",0,"6.944,44","0,00","6.944,44",I CONSUMO (8%),"6.944,44","555,56","7.500,00"
38533,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,1.0,"7.800,00",0,"7.222,22","0,00","7.222,22",I CONSUMO (8%),"7.222,22","577,78","7.800,00"
38534,2022-10-17 11:23:29 p. m.,Primal Alimentos SAS,Astrid,Viviana,NaN,CUANTÍAS MENORES,PARA LLEVAR,A10032884,"13.000,00",Postres,...,1.0,"10.000,00",0,"9.259,26","0,00","9.259,26",I CONSUMO (8%),"9.259,26","740,74","10.000,00"
38535,2022-10-17 11:23:29 p. m.,Primal Alimentos SAS,Astrid,Viviana,NaN,CUANTÍAS MENORES,PARA LLEVAR,A10032884,"13.000,00",Despensa,...,1.0,"3.000,00",0,"2.777,78","0,00","2.777,78",I CONSUMO (8%),"2.777,78","222,22","3.000,00"

In [14]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38536 entries, 0 to 38535
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   38536 non-null  object
 1   Negocio                 38536 non-null  object
 2   Facturador              38536 non-null  object
 3   Vendedor                38536 non-null  object
 4   Proveedor de Domicilio  5 non-null      object
 5   Cliente                 38536 non-null  object
 6   Mesa                    38536 non-null  object
 7   No. Factura             38536 non-null  object
 8   Total Factura           38536 non-null  object
 9   Categoría               38536 non-null  object
 10  Código                  1 non-null      float64
 11  Producto                38536 non-null  object
 12  Cantidad                38527 non-null  float64
 13  Precio de venta         38536 non-null  object
 14  Valor Promoción         38536 non-null  int64
 15  Valor Ventas            38536 non-null  object
 16  Valor Descuentos        38536 non-null  object
 17  Valor Neto              38536 non-null  object
 18  Impuesto                28655 non-null  object
 19  Base Imp.               38536 non-null  object
 20  Total Imp.              38536 non-null  object
 21  Total                   38536 non-null  object
dtypes: float64(2), int64(1), object(19)
memory usage: 6.5+ MB

In [46]:
df_prod.columns

Index(['Fecha', 'Negocio', 'Facturador', 'Vendedor', 'Proveedor de Domicilio',
       'Cliente', 'Mesa', 'No. Factura', 'Total Factura', 'Categoría',
       'Código', 'Producto', 'Cantidad', 'Precio de venta', 'Valor Promoción',
       'Valor Ventas', 'Valor Descuentos', 'Valor Neto', 'Impuesto',
       'Base Imp.', 'Total Imp.', 'Total'],
      dtype='object')

In [15]:
df_prod['Precio de venta'] = [x[:-3] for x in df_prod['Precio de venta']]

In [5]:
# df_prod['Total'] = [x[1:] for x in df_prod['Total']]

In [16]:
df_prod['Total'] = [x[:-3] for x in df_prod['Total']]
df_prod['Valor Descuentos'] = [x[:-3] for x in df_prod['Valor Descuentos']]
df_prod['Total Imp.'] = [x[:-3] for x in df_prod['Total Imp.']]

In [18]:
# df_prod['Precio de venta'] = df_prod['Precio de venta'].str.replace(',', '.')
df_prod.head()

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Cantidad,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,1.0,6.200,0,"5.740,74",,"5.740,74",I CONSUMO (8%),"5.740,74",459,6.200
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,1.0,32.000,0,"32.000,00",,"32.000,00",NaN,0,,32.000
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,1.0,34.000,0,"31.481,48",,"31.481,48",I CONSUMO (8%),"31.481,48",2.518,34.000
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,1.0,5.000,0,"5.000,00",,"5.000,00",NaN,0,,5.000
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,1.0,16.000,0,"14.814,81",,"14.814,81",I CONSUMO (8%),"14.814,81",1.185,16.000

In [19]:
df_prod['Precio de venta'] = df_prod['Precio de venta'].str.replace('.', '')

/tmp/ipykernel_5424/3993051426.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Precio de venta'] = df_prod['Precio de venta'].str.replace('.', '')

In [20]:
df_prod['Total'] = df_prod['Total'].str.replace('.', '')
df_prod['Valor Descuentos'] = df_prod['Valor Descuentos'].str.replace('.', '')
df_prod['Total Imp.'] = df_prod['Total Imp.'].str.replace('.', '')

/tmp/ipykernel_5424/18796460.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Total'] = df_prod['Total'].str.replace('.', '')
/tmp/ipykernel_5424/18796460.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Valor Descuentos'] = df_prod['Valor Descuentos'].str.replace('.', '')
/tmp/ipykernel_5424/18796460.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Total Imp.'] = df_prod['Total Imp.'].str.replace('.', '')

In [21]:
df_prod['Total'] = pd.to_numeric(df_prod['Total'])
df_prod['Total Imp.'] = pd.to_numeric(df_prod['Total Imp.'])

In [22]:
df_prod['Precio de venta'] = pd.to_numeric(df_prod['Precio de venta'])

In [57]:
df_prod.iloc[16889]

Fecha                                2022-05-18 09:23:56 p. m.
Negocio                                   Primal Alimentos SAS
Facturador                                          Pablo Rios
Vendedor                                            Pablo Rios
Proveedor de Domicilio                                     NaN
Cliente                             INVERSIONES OUTDOOR S.A.S.
Mesa                                                    SOMBRA
No. Factura                                             FE1156
Total Factura                                    14.210.500,00
Categoría                                               SOMBRA
Código                                                     NaN
Producto                  Concentrado Cold Brew Bag in Box 20L
Cantidad                                                  25.0
Precio de venta                                     568.420,00
Valor Promoción                                              0
Valor Ventas                                     13.533.809,52
Valor Descuentos                                             0
Valor Neto                                       13.533.809,52
Impuesto                                         IVA CAFE (5%)
Base Imp.                                        13.533.809,52
Total Imp.                                          676.690,48
Total                                             14.210.50000
Name: 16889, dtype: object

In [66]:
df_prod.iloc[47348]

Fecha                                2022-09-23 11:38:02 p. m.
Negocio                                   Primal Alimentos SAS
Facturador                                              Astrid
Vendedor                                               Viviana
Proveedor de Domicilio                                     NaN
Cliente                                      Dirty Kitchen SAS
Mesa                                         Dirty Kitchen SAS
No. Factura                                             FE1310
Total Factura                                     3.060.440,00
Categoría                                             Catering
Código                                                     NaN
Producto                  Logistica Meanigfoods- capitulo oido
Cantidad                                                   1.0
Precio de venta                                   1.032.800,00
Valor Promoción                                              0
Valor Ventas                                      1.032.800,00
Valor Descuentos                                          0,00
Valor Neto                                        1.032.800,00
Impuesto                                                   NaN
Base Imp.                                                 0,00
Total Imp.                                                0,00
Total                                             1.032.800,00
Name: 47348, dtype: object

In [56]:
df_prod['Total'].index[16889]

16889

In [23]:
df_prod.dtypes

Fecha                      object
Negocio                    object
Facturador                 object
Vendedor                   object
Proveedor de Domicilio     object
Cliente                    object
Mesa                       object
No. Factura                object
Total Factura              object
Categoría                  object
Código                    float64
Producto                   object
Cantidad                  float64
Precio de venta           float64
Valor Promoción             int64
Valor Ventas               object
Valor Descuentos           object
Valor Neto                 object
Impuesto                   object
Base Imp.                  object
Total Imp.                float64
Total                     float64
dtype: object

In [25]:
df_prod.head()

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Cantidad,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,1.0,6200.0,0,"5.740,74",,"5.740,74",I CONSUMO (8%),"5.740,74",459.0,6200.0
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,1.0,32000.0,0,"32.000,00",,"32.000,00",NaN,0,NaN,32000.0
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,1.0,34000.0,0,"31.481,48",,"31.481,48",I CONSUMO (8%),"31.481,48",2518.0,34000.0
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,1.0,5000.0,0,"5.000,00",,"5.000,00",NaN,0,NaN,5000.0
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,1.0,16000.0,0,"14.814,81",,"14.814,81",I CONSUMO (8%),"14.814,81",1185.0,16000.0

In [26]:
df_prod.to_csv('productos_df.csv', index = False, encoding='utf-8')